.date {
  display: flex;
}

.date-button {
  height: 40px;
  width: 100px;
  margin-left: 20px;
}

.active-button-d {
  background: #1a1c24;
  border: 2px solid #1a1c24;
  color: #5d5f6b;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s all;
}

.active-button-d:hover {
  color: white;
}

.active-button-d:active {
  background: #0a0a0d;
  border: 2px solid #0a0a0d;
}

.active-d {
  border: 2px solid $interfaceColor;
  background: #1a1c24;
  color: #5d5f6b;
  cursor: pointer;
  transition: 0.2s all;
}

.active-d:hover {
  border: 2px solid #1a1c24;
  color: white;
}

.active-d:active {
  background: #0a0a0d;
  border: 2px solid #0a0a0d;
}

.start-end {
  color: $interfaceColor;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 5px;
}

.react-datepicker-wrapper {
  .react-datepicker__input-container {
    input {
      font-family: "RobotoMedium", sans-serif;
      width: 150px;
      text-align: center;
      height: 40px;
      font-size: 16px;
      background: #1a1c24;
      color: $interfaceColor;
      border-radius: 5px;
      border: none;
      outline: none;
      cursor: pointer;
      caret-color: transparent;
    }
  }
}

.react-datepicker__tab-loop {
  font-family: "RobotoMedium", sans-serif;

  .react-datepicker-popper {
    .react-datepicker__triangle {
      fill: $interfaceColor;
      color: $interfaceColor;
      stroke: $interfaceColor;
    }
  }
}

.react-datepicker {
  font-family: "RobotoMedium", sans-serif;
  border: 2px solid $interfaceColor;
  background: #1a1c24;
  border-radius: 5px;

  .react-datepicker__month-container {
    color: white;

    .react-datepicker__header {
      background: #1a1c24;
      border: none;

      .react-datepicker__header__dropdown {
        .react-datepicker__year-dropdown-container {
          ::-webkit-scrollbar {
            width: 5px;
          }

          /* Track */
          ::-webkit-scrollbar-track {
            border-radius: 5px;
            background: #0a0a0d;
          }

          /* Handle */
          ::-webkit-scrollbar-thumb {
            background: $interfaceColor;
            border-radius: 10px;
          }

          /* Handle on hover */
          ::-webkit-scrollbar-thumb:hover {
            background: #009a2f;
          }

          .react-datepicker__year-dropdown {
            background: #1a1c24;
            border: 2px solid $interfaceColor;

            .react-datepicker__year-option {
              color: #5d5f6b;
              cursor: pointer;
            }

            .react-datepicker__year-option:hover {
              background: white;
              color: black;
            }

            .react-datepicker__year-option--selected_year {
              background: $interfaceColor;
              color: white;
            }

            .react-datepicker__navigation {
              display: none;
            }
          }
        }
      }

      .react-datepicker__year-dropdown:hover {
        cursor: default;
      }

      h2 {
        color: white;
      }

      .react-datepicker__day-names {
        .react-datepicker__day-name {
          color: white;
        }
      }
    }
  }
}

.react-datepicker__month {
  color: white;
  background: #1a1c24;

  .react-datepicker__week {
    .react-datepicker__day {
      color: #5d5f6b;
    }

    .react-datepicker__day:hover {
      background: white;
      color: black;
    }

    .react-datepicker__day--selected {
      background: $interfaceColor;
      color: white;
    }

    .react-datepicker__day--keyboard-selected {
      background: $interfaceColor;
      color: white;
    }
  }
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-radius: 5px 5px 0 0;
}
