.input-block {
  height: 100%;
  position: relative;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
  }

  .input {
    font-family: "PoppinsRegular", sans-serif;
    width: 100%;
    font-size: 15px;
    padding: 0 15px;
    z-index: 5;
    background: #454752;
    color: white;
    outline: none;
    border: 2px solid #454752;
    position: relative;
    height: 47px;
    border-radius: 5px;
    transition: 0.2s all;
  }

  .input-error {
    font-family: "PoppinsRegular", sans-serif;
    width: 100%;
    font-size: 15px;
    padding: 0 15px;
    z-index: 5;
    background: #454752;
    color: white;
    outline: none;
    border: 2px solid red;
    position: relative;
    height: 47px;
    border-radius: 5px;
    transition: 0.2s all;
  }

  .input:focus-within {
    border: 2px solid $interfaceColor;
  }


.login {
  position: relative;
  width: 320px;
}


.login-change {
  position: relative;
  width: 320px;
}

.eye {
  cursor: pointer;
  position: absolute;
  right: 10px;
  color: $interfaceColor;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: 5;
}

.label {
  color: white;
  font-family: "PoppinsRegular", sans-serif;
}

//input:-webkit-autofill {
//  -webkit-box-shadow: 0 0 0 1000px #2c2c2c inset !important;
//  -webkit-text-fill-color: #fff !important;
//}
.about{
  width: 100%;
  position: relative;
}
.textarea {
  margin-top:5px;
  height:75px;
  resize: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  font-family: "RobotoMedium", "sans-serif";
  font-size: 16px;
  &::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #1a1c24;
    border-radius: 10px;

  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $interfaceColor;
    border-radius: 10px;

  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #04a504;
  }
}

