@import "variables";
@import "header";
@import "button";
@import "input";
@import "login";
@import "diagram";
@import "store";
@import "date";
@import "modal";
@import "admin";
@import "radioButton";
@import "profile";
@import "changePassword";
@import "projects";
@import "users";

@font-face {
  font-family: RobotoBold;
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: RobotoRegular;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: RobotoMedium;
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: PoppinsBold;
  src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: PoppinsRegular;
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: PoppinsMedium;
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: PoppinsExtra;
  src: url(../fonts/Poppins-ExtraBold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0a0a0d;
  overflow-y: scroll;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  //min-width: 900px;
}

.main {
  margin-left: 350px;
  padding: 0 50px;
  transition: 0.3s all;
}

.totals {
  color: #5d5f6b;

  .container-total {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;

    .block-total {
      transition: 0.2s all;
      cursor: default;
      display: flex;
      flex-direction: column;
      min-width: 200px;
      flex-shrink: 1;
      flex-grow: 1;
      flex-basis: 15%;

      margin: 10px;
      background: #1a1c24;
      border-radius: 5px;
      padding: 10px;

      h2 {
        font-family: "PoppinsMedium", "sans-serif";
      }

      span {
        margin-top: 10px;
        display: flex;
        align-items: center;
        font-family: "RobotoMedium", "sans-serif";
        font-size: 20px
      }
    }

    .block-total:hover {
      color: white;
      background: #0a0a0d;
    }
  }
}


.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.loading-block {
  position: fixed;
  bottom: 50%;
  z-index: 992;
}

.container {
  margin-top: 30px;
  position: relative;
}
.dashboard{
  position: relative;
  transition: 0.2s all;

}
.disabled-dashboard{
  opacity: 0.5;
}
.container-loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  cursor: default;

  h1 {
    color: $interfaceColor;
    font-family: "PoppinsBold", sans-serif;
  }
}


.title-active {
  transition: 0.2s all;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;

  h1 {
    color: $interfaceColor;
    font-family: "PoppinsBold", sans-serif;
  }
}

.title-disabled {
  cursor: pointer;
  transition: 0.2s all;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: #5d5f6b;
    font-family: "PoppinsBold", sans-serif;
  }
}


.login-wrapper {
  position: fixed;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9998;
  cursor: default;
  border-radius: 5px;
}

